<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
                <!-- Üst Kısım -->
                <div class="top-section bg-warning">
                    <h4 class="sidebar-heading">Yönetici Paneli</h4>
                    <div class="user-info">
                        <p>Hoşgeldiniz, @Context.User.Identity.Name</p>
                    </div>
                  
                </div>
                <!-- Alt Kısım -->
                <div class="nav-links">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category")">Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Product")">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Order")">Siparişler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Bill")">Hesaplar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Table")">Masalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "StoreBill")">Mağaza Hesapları</a>
                        </li>
                        <!-- Logout Butonu -->
                        <li class="nav-item mt-4">
                            <form id="logoutForm" action="/Account/Logout" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Çıkış Yap</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
